
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <title></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link type="text/css" rel="stylesheet" href="/static/style.css" />
</head>
<body>

  <div class="container">
    <h1>Python Strings, Variables, Objects</h1>
    <div>

    </div >
      <p class="white">
        counter = 100          # An integer assignment
        <br>
        miles   = 1000.0       # A floating point
        <br>
        name    = "John"       # A string
        <br>
        <br>
        print counter
        print miles
        print name
        <br>

        Multiple Assignment
        a = b = c = 1
        a, b, c = 1, 2, "john"
        <br>

        Python Numbers <br>
        var1 = 1 <br>
        var2 = 10 <br>
        <br>

        delete <br>
        del var1[,var2[,var3[....,varN]]]] <br>
        <br>
        del var <br>
        del var_a, var_b
        <br>
        String
        <br><br>
        str = 'Hello World!'
        <br>
        print str
        <br>
        print list          # Prints complete list

        tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )<br>
        tinytuple = (123, 'john')<br>
        <br>
        print tuple           # Prints complete list




      </p>

  </div>

</body>
</html>
